<header>
  <!-- Копия header для согласованного стиля -->
  <nav class="navbar">
    <div class="logo">
      <a href="index.html" style="text-decoration: none">Ad<span class="highlight">Nexus</span></a>
    </div>
    <div class="burger" id="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul class="nav-links" id="nav-links">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="dashboard.html">Dashboard</a></li>
      <li id="account-lnk" class="hidden">
        <div id="acc-container"><a href="account.html">My account</a></div>
      </li>
      <li id="account-exit-lnk" class="hidden">
        <div id="acc-exit-container"><a>Leave account</a></div> <!-- предварительно -->
      </li>
      <li id="login-lnk"><a href="login.html">Login</a></li>
      <li id="register-lnk"><a href="register.html">Register</a></li>
    </ul>
  </nav>
</header>